<h1 class="grey">Contacto</h1>

<form action="/contacto" method="post">
	<div class="input">
    <label for="nombre">Nombre</label><br />
		<input id="nombre" name="nombre" type="text" />
	</div>
	<div class="input">
    <label for="email">Email</label><br />
		<input id="email" name="email" type="text" />
	</div>
	<div class="input">
    <label for="consulta">Consulta</label><br 7>
    <textarea id="consulta" name="consulta" rows="10" cols="50">
    </textarea>
  </div>

  <div class="input"> 
    <input type="submit" value="Contactar" />
  </div>
</form>

