%h1 Bienvenido
%p

  Bienvenido a euánime una empresa unipersonal especializada en el desarrollo de aplicaciones Web
  %strong.grey Ruby
  y
  %strong.grey PHP
  (Software Libre).

%p
  Tengo tambien muy buenas habilidades para el desarrollo de interfaces, con 
  %strong.grey JavaScript
  y he realizado contribuciones al
  software libre. Soy uno de los contribuyentes en el blog
  %a{:href => "http://boliviaonrails.com", :target => "_blank"} boliviaonrails.com

