<h1 class="grey">Bienvenido</h1>

<p>
Bienvenido a euánime una empresa unipersonal especializada en el desarrollo de aplicaciones Web
<strong class="grey">Ruby</strong> y <strong class="grey">PHP</strong> (Software Libre).
</p>

<p>
Tengo tambien muy buenas habilidades para el desarrollo de interfaces, con 
<strong class="grey">JavaScript</strong> y he realizado contribuciones al
software libre. Soy uno de los contribuyentes en el blog
<a href="http://boliviaonrails.com" target="_blank">boliviaonrails.com</a>
</p>
