%h1.grey Nosotros

%p
  Actualmente la empresa es unipersonal y creo firmemente de que al ser una empresa pequeña
  puedo dar una ateción mas personalizada a mis clientes.
%p
  Mi especialidad es la creación de aplicaciones y aplico los siguientes conceptos en el desarrollo de aplicaciones:
%ul
  %li
    %h4.grey Sistemas simples:
    Crear aplicaciones simples y concisas que no esten embotadas (llenas) de funciones que nunca se usaran.
  
  %li
    %h4.grey  La interfaz es el producto:
    Es la parte con la cual el usuario final interactua con el sistema y da sus apreciaciones.
  

  %li
    %h4.grey Menos es mas
    Al tener menos elementos de que que preocuparse se puede cambiar los sistemas de forma más rápida
    adaptandose con más fácilidad a los cambios constantes en la tecnología.

  %li
    %h4.grey Desarrollo de alta calidad
    Practico el desarrollo 
    <a href="http://es.wikipedia.org/wiki/Desarrollo_%C3%A1gil_de_software">ágil</a>
    que promueve el uso de tests permitiendo generar productos de mayor calidad.
