<h1 class="grey">Nosotros</h1>

<p>
Actualmente la empresa es unipersonal y creo firmemente de que al ser una empresa pequeña
puedo dar una ateción mas personalizada a mis clientes.
</p>
<p>
Mi especialidad es la creación de aplicaciones y aplico los siguientes conceptos en el desarrollo de aplicaciones:
</p>
<ul>
  <li>
    <h4 class="grey">Sistemas simples:</h4>
    Crear aplicaciones simples y concisas que no esten embotadas (llenas) de funciones que nunca se usaran.
  </li>
  <li>
  <h4 class="grey">  La interfaz es el producto: </h4>
  Es la parte con la cual el usuario final interactua con el sistema y da sus apreciaciones.
  </li>

  <li>
  <h4 class="grey">Menos es mas</h4>
  Al tener menos elementos de que que preocuparse se puede cambiar los sistemas de forma más rápida
  adaptandose con más fácilidad a los cambios constantes en la tecnología.
  </li>

  <li>
  <h4 class="grey">Desarrollo de alta calidad</h4>
  Practico el desarrollo con tests, que permiten generar productos de mayor calidad.
  </li>
</ul>
