<h1 class="grey">Trabajos</h1>

<h3 class="grey">MotoEx</h3>
<p>
MotoEx es una herramienta fácil de usar que permite la importación de datos desde hojas electrónicas.
</p>
<object width="600" height="525"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=9392083&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=9392083&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="600" height="525"></embed></object>

<p>
La herramienta tiene una licencia de Software libre el stio oficial del la herramienta esta en 
<a href="http://boriscy.github.com/motoEx/">http://boriscy.github.com/motoEx/</a> y el código se puede encontrar en
<a href="http://github.com/boriscy/motoEx/">http://github.com/boriscy/motoEx/</a>
</p>

<br /><br />
<h3 class="grey">Polla mundialista</h3>

<p>
Durante el mundial de Sudáfrica una gran catidad de usuarios acudio a este sistema para poder registrar sus predicciones 
acerca sobre partidos, goeladores, valla invicat y otros datos, compitiendo por un premio.
</p>
<div style="clear:both"></div>
